<div class="container">
    <h2 class="text mt-6 my-4">
        <span> Contact Us </span>
    </h2>

</div>
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-autob">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">


                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Name * </h6>
                        </label> <input class="mb-4" type="text" name="name" placeholder="Enter your name"> </div>


                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Email Address *</h6>
                        </label> <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address"> </div>

                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Category</h6>
                              </label> <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                              </select>
                    </div>

                    <div class="row px-3 mt-3"> <label class="mb-1">
                            <h6 class="mb-0  text-sm">City</h6>
                        </label>
                        <select name="cars" id="cars">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                          </select> </div>

                    <div class="row px-3 mt-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm"> Message * </h6>
                              </label> <textarea name="message" rows="10" cols="30">The cat was playing in the garden.</textarea>
                    </div>
                    <div class="row px-3 mt-3"> <label class="mb-1">

                        

                            <h6 class="mb-0 text-sm">Password</h6>
                        </label> <input type="password" name="password" placeholder="Enter password"> </div>
                    <div class="row px-3 mb-4 mt-3">
                        <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                        <input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">submit</button> </div>
                    <!-- <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a routerLink="/signup-component" class="text-danger ">Register</a></small> </div> -->
                </div>

            </div>
            <div class="col-lg-6">

                <div class="card2 card border-0 px-4 py-5">


                    <div class="row px-3"> <label class="mb-1">
                        <h2 class="mb-2 text-lx"> Our Addresss</h2>
                          </label>

                    </div>
                    <hr>
                    <div class="row mb-4 px-3"> <small class="font-weight-bold"> <p>77 W Houston St New York,<br>NY 10012 contact@company.com  <br> +99 555 999</p></small> </div>
                    <h3 class="mb-2 text-lx"> Our online Presence </h3>
                    <hr>

                    <div class="row mb-2 px-3">

                        <div class="facebook text-center mr-3">
                            <div class="fa fa-facebook"></div>
                        </div>
                        <p> facebook <br> <span>join in here for timely updates   </span></p>
                    </div>
                    <hr>
                    <div class="row mb-2 px-3">
                        <div class="twitter text-center mr-3">
                            <div class="fa fa-twitter"></div>
                        </div>
                        <p> twitter <br> <span>we are always on Twitter   </span></p>
                    </div>
                    <hr>
                    <div class="row mb-2 px-3">
                        <div class="linkedin text-center mr-3">
                            <div class="fa fa-linkedin"></div>

                        </div>
                        <p> linkedin <br><span> keep updates to latest events  </span></p>
                    </div>
                    <hr>

                    <div class="row mb-4 px-3">
                        <div class="youtube text-center mr-3">
                            <div class="fa fa-youtube"></div>

                        </div>
                        <p> You Tube <br> <span>Snapshots of our Events </span></p>
                    </div>
                    <hr>
                </div>

            </div>
        </div>
        <!-- <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2019. All rights reserved.</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div> -->
    </div>
</div>