<div class="container mt-4 col-md-6 center jumbotron">
    <div class="text-center mb-2">
        <h1> User registratin Form</h1>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit(registerForm)">
        <div class="form-group">
            <label for="User name">User name</label>
            <input type="text" class="form-control" formControlName="username" aria-describedby="emailHelp" placeholder="Enter user name">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" formControlName="fname" placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" formControlName="lname" placeholder="Last name" aria-label="Last name">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Mobile no</label>
            <input type="text" class="form-control" formControlName="phone" aria-describedby="emailHelp" placeholder="Enter mobile no">
        </div>
        <div class="form-group">

            <label for="inputAddress2" class="form-label">Address 2</label>
            <input type="text" class="form-control" formControlName="address" placeholder="Apartment, studio, or floor">

            <div class="form-group">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="success" *ngIf="showSuccess">
    <h1> Successfully register new User</h1>
</div>